body {
  border-top: 8px solid #282B36;
  color: #282B36;
}

.firstBorder, .secondBorder, .thirdBorder {
  float: left;
  height: 8px;
  width: 33.33%;
}

.firstBorder {
  background-color: #f33e6f;
}

.secondBorder {
  background-color: #46BFBD;
}

.thirdBorder {
  background-color: #fdb45c;
}

header {
  display: block;
  margin-top: 100px;
  overflow: hidden;

  hgroup, #sign-in {
    float: left;
    display: block;
    width: 49%;
  }
}

#sign-in {
}
